<div class="form-container">
    <form action="/submitForm" method="post">
        <label for="你希望大家如何稱呼你">你希望大家如何稱呼你</label>
        <input type="text" id="你希望大家如何稱呼你" name="你希望大家如何稱呼你" required><br>

        <label for="進入無拘生存的動機">進入無拘生存的動機</label>
        <input type="text" id="進入無拘生存的動機" name="進入無拘生存的動機" required><br>

        <label for="你和現今的哪位成員最為親近？">你和現今的哪位成員最為親近？</label>
        <input type="text" id="你和現今的哪位成員最為親近？" name="你和現今的哪位成員最為親近？" required><br>

        <label for="承上題，你和該成員認識多久？">承上題，你和該成員認識多久？</label>
        <input type="text" id="承上題，你和該成員認識多久？" name="承上題，你和該成員認識多久？" required><br>

        <label for="最後簡單的自我介紹一下吧">最後簡單的自我介紹一下吧</label>
        <input type="text" id="最後簡單的自我介紹一下吧" name="最後簡單的自我介紹一下吧" required><br>

        <input type="submit" value="提交">
    </form>
</div>