#join_place {
    height: 20vh;
    width: 100%;
    background-color: antiquewhite;
}

#join_word {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

#join_button {
    display: block;
    /* 使按鈕成為塊級元素 */
    margin: 0 auto;
    /* 上下邊距為0，左右自動，實現水平置中 */
    padding: 10px 20px;
    /* 內邊距，根據需要調整 */
    background-color: #007BFF;
    /* 背景顏色 */
    color: white;
    /* 文字顏色 */
    border: none;
    /* 去除邊框 */
    border-radius: 5px;
    /* 邊框圓角 */
    cursor: pointer;
    /* 鼠標懸停時顯示手形光標 */
    font-size: 16px;
    /* 字體大小 */
    transition: background-color 0.3s;
    /* 過渡效果，使背景顏色變化更平滑 */
}

#join_button:hover {
    background-color: #0056b3;
    /* 鼠標懸停時的背景顏色 */
}